<div class="top-bar">
  <div class="top-bar-title">KOHL's - Offer Administration</div>
  <div>
      <ul class="menu">
          <img src="./shared/images/separator.jpg" />
          <li class="nav-menu" routerLink="/home"><a href="/home">Home</a></li>
          <img src="./images/separator.jpg" />
          <li class="nav-menu" routerLink="marketers"><a href="/marketers">Marketers</a></li>
          <img src="./images/separator.jpg" />
          <li class="nav-menu"><a href="/suppliers">Suppliers</a></li>
          <img src="./images/separator.jpg" />
          <li class="nav-menu"><a href="/offerbundles">Offer Bundles</a></li>
          <img src="./images/separator.jpg" />
          <li class="nav-menu"><a href="/analytics">Analytics</a></li>
          <img src="./images/separator.jpg" />
          <li class="nav-menu"><a href="/ContactUs">Contact us</a></li>
      </ul>
  </div>
</div>